body {
    padding: 0px 40px;
    background-color: lightslategrey;
}

/*header*/

header section article {
    background-color: lightgrey;
    border: 4px solid brown;
    padding: 10px 10px 0 10px;
    position: relative;
    top: 20px;
    border-radius: 10px;
}

/* Botón guardar en mobile design*/

@media(max-width: 768px) {
    header section article div div input {
        margin-top: 25px;
        margin-bottom: 25px;
    }
    header section article {
        padding-right: 10px;
    }
}

/*fin header*/

/*Main*/

/* Tarea / Tarea a buscar en mobile design */

@media(max-width: 768px) {
    main section article:first-child div div.col-12 {
        margin-bottom: 20px;
    }
    main section article:first-child div div:last-child.col-12 {
        margin-bottom: 0px;
    }
}

main {
    background-color: grey;
    padding: 30px;
    height: 90vh;
    border: 4px solid lightgreen;
    position: relative;
    top: 40px;
    border-radius: 10px;
}

/*sections*/

main section {
    padding: 0 10px 0 10px;
}

main section article {
    margin-top: 10px;
    padding-top: 5px;
    padding-bottom: 3px;
    border-radius: 10px;
}

main section article:nth-child(1) {
    background-color: black;
    border: 4px solid black;
    padding: 10px 10px 0 10px;
    background-color: lightgrey;
    position: relative;
    left: -10px;
    margin: 40px;
    margin-top: 15px;
    box-shadow: 10px 20px black;
}

main section article:nth-child(2) {
    background-color: tomato;
}

main section article:nth-child(3) {
    background-color: lightsteelblue;
}

main section article:nth-child(4) {
    background-color: greenyellow;
}

main section article div p {
    display: block;
    position: relative;
    top: 5px;
    font-weight: 900;
}

/* Boton Eliminar */

main section article div button.btn {
    position: absolute;
    right: 20px;
    display: block;
}

/* Sombras de los botones en mobile design */

@media(max-width: 768px) {
    main section article div button.btn {
        box-shadow: 5px 10px rgb(209, 146, 156);
    }
}

/* Botón Eliminar en mobile design*/

@media(max-width: 768px) {
    main section article div button.btn {
        position: relative;
        left: 10px;
        margin-bottom: 15px;
    }
}

/* fin main */

/* footer */

footer {
    background-color: black;
    color: white;
    padding: 10px 0 0 10px;
    border-top: 4px solid lightgreen;
    text-align: center;
}

/* fin footer */